:root {
    --primary-font: 'Yeseva One', cursive;
    --secondary-font: 'Noto Sans', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: var(--secondary-font);
    color: #10100F;
}

ul, li, p, h2 {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #10100F;
}

.section_home,
.section_about,
.section_group-therapy {
    border-bottom: 2px solid #10100F;
}

.header {
    background: #EEEEEE;
    padding: 24px 180px;
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
    align-items: center;
}

.menu {
    display: flex;
    width: 88%;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    max-height: 40px;
    transition: max-height .2s ease-out;
}



.header_logo {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}

.header_logo li:hover {
    color: #DFA04F;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scaleX(0);
}

.header_menu_link {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    font-family: var(--primary-font);
    position: relative;
    color: #000000;
    padding: 10px;
    line-height: 20px;
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.header_menu_link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #DFA04F;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.header_menu_link:hover a {
    color: #DFA04F;
}

.header_menu_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*HOME*/

.section_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 180px;
    position: relative;
}

.section_home::before {
    content: "";
    position: absolute;
    display: block;
    top: -80px;
    left: -100px;
    width: 576px;
    height: 687px;
    background: url(./images/leaf_yellow.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

.section_home::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -80px;
    right: 0px;
    width: 322px;
    height: 424px;
    background: url(./images/leaf_blue.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

.section_home_title {
    width: 70%;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 46px;
    font-family: var(--primary-font);
    line-height: 84px;
}

.section_home_text {
    font-size: 17px;
    text-align: center;
    margin: 0 0 60px;
    line-height: 24px;
    width: 70%;
}

.uppercase {
    text-transform: uppercase;
}

.section_home_button,
.contact-us_form_button {
    font-family: var(--primary-font);
    text-transform: capitalize;
    padding: 20px 50px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 20px;
}

.section_home_button:hover,
.contact-us_form_button:hover {
    border: 1px solid;
    border-radius: 30px;
    background-color: #636C92;
    color: #fff;
}

/*ABOUT*/

.section_about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 160px 180px;
    background-color: #EEEEEE;
}

.title {
    font-family: var(--primary-font);
    font-size: 42px;
    line-height: 49px;
    font-weight: 500;
}

.section_about_title {
    text-align: left;
    align-self: baseline;
    width: 45%;
    margin: 0 0 46px;
}

.section_about_text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.section_about_text {
    width: 45%;
    line-height: 24px;
    margin: 0;
}

/*GROUP THERAPY*/

.section_group-therapy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEEEEE;
    padding-right: 180px;
}

.section_group-therapy_image {
    width: 612px;
    height: 612px;
    background: url(./images/pic_1.png) no-repeat;
    margin-right: 100px;
}

.section_group-therapy_text {
    width: 40%;
    margin: 0 auto;
}

/*OUR PROGRAMS*/

.section_our-programs {
    background-color: #636C92;
    padding: 120px 180px;
}

.section_our-programs_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_our-programs_wrapper li{
    width: 20%;
}
 
.section_our-programs_title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
}

.section_our-programs_text {
    font-weight: 300;
    color: #EEEEEE;
    line-height: 24px;
}

/*OUR FOUDER*/

.section_our-founder {
    display: flex;
    padding: 120px 120px 120px 180px;
    flex-direction: row;
    background: #272624;
    align-items: center;
    justify-content: space-between;
}

.section_our-fouder_right { 
    width: 50%;
    margin-right: 50px;
}

.section_our-founder_title {
    color: #fff;
    margin: 0 0 46px;
}

.section_our-founder_text {
    width: 70%;
    font-weight: 300;
    color: #EEEEEE;
    line-height: 26px;
}

cite {
    font-style: normal;
}

.section_our-founder_img {
    width: 40%;
    height: 665px;
    background: url(./images/pic_2.png) center no-repeat;
    background-size: 100%;
}   

/*CONTACT US*/

.section_contact-us {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 120px 180px 120px;
    background-color: #EEEEEE;
}

.section_contact-us::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 367px;
    height: 413px;
    background: #EEEEEE url(./images/leaf_orange.png) no-repeat center;
    background-size: contain;
    z-index: 0;
}

.contact-us_form {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(50px, auto));
    grid-template-areas: "title title"
                         "name phone"
                         "time message"
                         "button none";
    z-index: 1;
}

.contact-us_form_title {
    grid-area: title;
    width: 80%;
    margin: 0 0 46px;
}

.contact-us_form .label {
    display: block;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px; 
    width: 100%;
    margin-bottom: 20px;
}

.contact-us_form_name {
    grid-area: name;
    display: flex;
    flex-direction: column;
        
}

.input_full_name,
.input_phone,
.input_message {
    border: 0;
    border-bottom: 1px solid #10100F;
    padding-bottom: 8px;
    background-color: #EEEEEE;
    color: #1D1D1B;
    opacity: 0.5;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.input_message {
    padding-bottom: 100px;
    width: 100%;
}

.contact-us_form_phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.contact-us_form_message {
    grid-area: message;
    margin-bottom: 62px;
}

.contact-us_form_time {
    grid-area: time;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 62px;
}

.checkbox_wrapper {
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-us_form_time .checkbox_wrapper:last-child {
    margin: 0;
}

.checkbox_wrapper > input[type="checkbox"]:checked, 
.checkbox_wrapper > input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form_time_checkbox:checked + span, 
.form_time_checkbox:not(:checked) + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 22px;
    cursor: pointer;
}

.form_time_checkbox:checked + span:before, 
.form_time_checkbox:not(:checked) + span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #10100F;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.form_time_checkbox:checked + span:after, 
.form_time_checkbox:not(:checked) + span:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #636C92;
    border-bottom: 4px solid #636C92;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form_time_checkbox:not(:checked) + span:after {
    opacity: 0;
}

.form_time_checkbox:checked + span:after {
    opacity: 1;
}

.contact-us_form_button {
    grid-area: button;
    max-width: 247px;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    background: #A6A6A6;
    color: #1D1D1B;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 300;
}

/*Mobile MENU*/

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: absolute;
    user-select: none;
    top: 22px;
    right: 0;
    z-index: 100;
}
  
.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 36px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 10px;
}

.header .menu-icon .navicon:after {
    top: -10px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    background: #EEEEEE;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.selector) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.selector) .navicon:after {
    top: 0;
}

@media only screen and (min-width: 768px) {
    .header .menu-icon {
        display: none;
    }
}

@media only screen and (min-width: 992px) and ( max-width: 1240px) {
    .header {
        padding: 24px 50px;
    }

    .header .menu{
        width: 88%;
    }

    .header_menu_link {
        font-size: 17px;
        margin-right: 25px;
    }

    .section_home,
    .section_about,
    .section_our-programs {
        padding: 100px 10%;
    }

    .section_home_title {
        width: 100%;
    }

    .title {
        font-size: 38px;
        line-height: 42px;
    }

    .section_group-therapy {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        padding: 0 10% 100px 0;
    }

    .section_group-therapy_image {
        margin-bottom: 60px;
    }
        
    .section_group-therapy_text {
        width: auto;
        padding-left: 10%;
    }

    .section_our-founder {
        padding: 60px 10%;
    }

    .section_our-founder_text {
        width: auto;
    }

    .section_our-founder_img {
        height: 578px;
    }

    .section_our-programs_wrapper {
        display: block;
    }

    .section_our-programs_wrapper li {
        width: auto;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) and ( max-width: 991px) {
    .header {
        padding: 24px 50px;
    }

    .header_menu_link {
        font-size: 15px;
        margin-right: 5px;
    }

    .section_home,
    .section_about,
    .section_our-programs, 
    .section_our-founder {
        padding: 100px 10%;
    }

    .section_home_title {
        width: 100%;
    }

    .title {
        font-size: 34px;
        line-height: 38px;
    }

    .section_group-therapy {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: auto;
        padding: 0 21px 100px 0;
    }

    .section_group-therapy_image {
        margin-bottom: 40px;
    }

    .section_group-therapy_text {
        width: auto;
        padding-left: 10%;
    }

    .section_our-founder {
        padding: 40px 10%;
    }

    .section_our-founder_text {
        width: auto;
    }

    .section_our-founder_img {
        height: 463px;
    }
   
    .section_our-programs_wrapper {
        display: block;
    }

    .section_our-programs_wrapper li {
        width: auto;
        margin-bottom: 50px;
    }
}
    
@media only screen and (max-width: 767px) {
    .header .menu-btn:checked ~ .menu {
        max-height: 100vh;
        box-sizing: border-box;
        justify-content: center;
    }

    .header {
        padding: 0 0;
        display: block;
        text-align: center;
        background: transparent;
        width: 100%;
        z-index: 0;
    }

    .header_logo {
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 21px;
        z-index: 10;
    }

    .menu {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        padding-top: 25%;
        max-height: 0;
        justify-content: end;
    }

    .header_menu_link {
        margin-bottom: 40px;
        text-align: center;
        font-weight: 400;
        font-size: 28px;
        margin-right: 0;
    }
    
    .header_menu_link::after {
        display: none;
    }

    .header_menu_link:hover {
        color: #2B52D1;
    }

    .section_home, 
    .section_about,
    .section_our-programs,
    .section_our-founder,
    .section_contact-us {
        flex-direction: column;
        padding: 60px 21px;
    }

    .section_home {
        padding-top: 50px;
        justify-content: space-between;
    }

    .section_home_title {
        width: auto;
        font-size: 38px;
        line-height: 50px;
    }

    .section_home_text {
        font-size: 16px;
        margin-bottom: 46px;
    }

    .section_home_button {
        margin-bottom: 150px;
    }

    .section_home::before {
        top: -160px;
        width: 360px;
        height: 360px;
        z-index: -1;
    }

    .section_home::after { 
        transform: rotate(-10deg); 
        bottom: 0;
        left: auto;
        right: 20px;
        width: 176px;
        height: 244px;
    }

    .section_about_title {
        width: auto;
        font-size: 28px;
        margin: 0 0 26px;
    }

    .section_about_text_wrapper {
        flex-direction: column;
        width: auto;
    }

    .section_about_text_wrapper .section_about_text:first-child {
        margin-bottom: 16px;
    }

    .section_about_text {
        width: auto;
        font-size: 16px;
        line-height: 24px;
    }

    .section_group-therapy {
        flex-direction: column;
        align-items: baseline;
        padding: 0 21px 60px 0;
        width: auto;
    }

    .section_group-therapy_image {
        height: 286px;
        background-size: contain;
        box-sizing: border-box;
        margin-bottom: 60px;
    }

    .section_group-therapy_text {
        width: auto;
        font-size: 28px;
        line-height: 39px;
        padding-left: 21px;
    }

    /*OUR PROGRAMS*/

    .section_our-programs_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }

    .section_our-programs_wrapper li {
        display: inline-block;
        width: auto;
        margin-bottom: 46px;
    }
    
    .section_our-programs_wrapper li:last-child {
        margin-bottom: 0px;
    }

    .section_our-programs_title {
        font-size: 18px;
        margin-bottom: 26px;
    }
    
    .section_our-programs_text {
        font-size: 16px;
        line-height: 24px;
    }
    
    /*OUR FOUDER*/
    
    .section_our-founder {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .section_our-fouder_right {
        order: 2;
        width: auto;
    }
    
    .section_our-founder_title {
        font-size: 28px;
        line-height: 39px;
        margin: 0 0 26px;
    }
    
    .section_our-founder_text {
        width: auto;
        line-height: 24px;
    }
    
    .section_our-founder_img {
        order: 1;
        display: inline-block;
        width: 199px;
        height: 286px;
        background-size: contain;
        margin-left: auto;
        padding-right: 19px;
        margin-bottom: 60px;
    } 
    
    /*CONTACT US*/

    .section_contact-us::before {
        right: 0px;
        left: auto;
        bottom: 211px;
        width: 161px;
        height: 200px;
        transform: rotateY(180deg);
    }
    
    .contact-us_form {
        width: 100%;
        display: grid;
        grid-column-gap: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(50px, auto));
        grid-template-areas: "title"
                             "name" 
                             "phone"
                             "time"
                             "message"
                             "button";
    }
    
    .contact-us_form_title {
        width: auto;
        font-size: 28px;
        line-height: 39px;
        margin: 0 0 40px;
    }
    
    .contact-us_form .label {
        display: block;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 20px; 
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contact-us_form_name,
    .contact-us_form_phone,
    .contact-us_form_time {
        margin-bottom: 26px;
    }

    .contact-us_form_message {
        margin-bottom: 46px;
    }

    .contact-us_form_button {
        max-width: 210px;
        padding: 20px;
    }

    .footer {
        font-size: 14px;
        padding: 22px 21px;
    }
} 