:root {
    --primary-font: 'Yeseva One', cursive;
    --secondary-font: 'Noto Sans', sans-serif;
}

body {
   /* width: 1440px; */
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: var(--secondary-font);
    color: #10100F;
}

ul, li, p, h2 {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #10100F;
}

hr {
    height: 2px;
    background-color: #10100F;
    margin: 0;
    border: 0;
}

.header {
    background: #EEEEEE;
    padding: 24px 180px;
    display: flex;
    justify-content: space-between;
}

.header_menu {
    overflow: hidden;
}

.header_menu {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.header_logo {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}

.header_menu_link {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--primary-font);
    position: relative;
}

.header_menu_link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #636C92;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.header_menu_link:hover {
    color: #636C92;
}

.header_menu_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*HOME*/

.section_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 350px;
    position: relative;
}

.section_home::after {
    content: "";
    position: absolute;
    display: block;
    top: -80px;
    left: -100px;
    width: 576px;
    height: 687px;
    background: url(./images/leaf_yellow.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

.section_home::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -80px;
    right: 0px;
    width: 415px;
    height: 424px;
    background: url(./images/leaf_blue.png) no-repeat center;
    background-size: contain;
    z-index: -1;
}

.section_home_title {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 46px;
    font-family: var(--primary-font);
    line-height: 1.5em;
}

.section_home_text {
    font-size: 17px;
    text-align: center;
    margin: 0 0 60px;
    line-height: 1.5em;
}

.uppercase {
    text-transform: uppercase;
}

.section_home_button,
.contact-us_form_button {
    font-family: var(--primary-font);
    text-transform: capitalize;
    padding: 20px 50px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 100px;
    font-size: 20px;
}

.section_home_button:hover,
.contact-us_form_button:hover {
    border: 1px solid #636C92;
    border-radius: 30px;
    background-color: #636C92;
    color: #fff;
}

/*ABOUT*/

.section_about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 160px 180px;
    background-color: #EEEEEE;
}

.section_about_title {
    font-family: var(--primary-font);
    font-size: 42px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    align-self: baseline;
    width: 45%;
    margin: 0 0 46px;
}

.section_about_text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.section_about_text {
    width: 45%;
    line-height: 1.5em;
    margin: 0;
}

/*GROUP THERAPY*/

.section_group-therapy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #EEEEEE;
}

.section_group-therapy_image {
    width: 612px;
    height: 612px;
    background: url(./images/pic_1.png) no-repeat;
}

.section_group-therapy_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-family: var(--primary-font);
    font-size: 42px;
    line-height: 1.5em;
}

.section_group-therapy_text p {
    width: 58%;
    text-align: left;
}

/*OUR PROGRAMS*/

.section_our-programs {
    background-color: #636C92;
    padding: 120px 180px;
}

.section_our-programs_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_our-programs_wrapper li {
    display: inline-block;
    width: 20%;
}

.section_our-programs_title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
}

.section_our-programs_text {
    font-weight: 300;
    color: #EEEEEE;
    line-height: 1.5em;
}

/*OUR FOUDER*/

.section_our-founder {
    display: flex;
    padding: 120px 120px 120px 180px;
    flex-direction: row;
    background: #272624;
    align-items: center;
    justify-content: space-between;
}

.section_our-fouder_right { 
    width: 50%;
}

.section_our-founder_title {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 1.4em;
    color: #fff;
    margin: 0 0 46px;
}

.section_our-founde_text {
    width: 60%;
    font-weight: 300;
    color: #EEEEEE;
    line-height: 1.7em;
}

cite {
    font-style: normal;
}

.section_our-founde_img {
    width: 418px;
    height: 610px;
    background: url(./images/pic_2.png) no-repeat;
}   

/*CONTACT US*/

.section_contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px 180px 120px 0;
    background-color: #EEEEEE;
}

.contact-us_form {
    width: 55%;
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(50px, auto));
    grid-template-areas: "title title"
                         "name phone"
                         "time message"
                         "button none";
}

.contact-us_form_title {
    grid-area: title;
    font-family: var(--primary-font);
    width: 80%;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.4em;
    margin: 0 0 46px;
}

.contact-us_form .label {
    display: block;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px; 
    width: 100%;
    margin-bottom: 20px;
}

.contact-us_form_name {
    grid-area: name;
    display: flex;
    flex-direction: column;
        
}

.input_full_name,
.input_phone,
.input_message {
    border: 0;
    border-bottom: 1px solid #10100F;
    padding-bottom: 8px;
    background-color: #EEEEEE;
    color: #1D1D1B;
    opacity: 0.5;
    font-size: 16px;
    line-height: 1.5em;
    cursor: pointer;
}

.input_message {
    padding-bottom: 100px;
    width: 100%;
}

.contact-us_form_phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.contact-us_form_message {
    grid-area: message;
    margin-bottom: 62px;
}

.contact-us_form_time {
    grid-area: time;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 62px;
}

.checkbox_wrapper {
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-us_form_time .checkbox_wrapper:last-child {
    margin: 0;
}

.checkbox_wrapper > input[type="checkbox"]:checked, 
.checkbox_wrapper > input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form_time_checkbox:checked + label, 
.form_time_checkbox:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 22px;
    cursor: pointer;
}

.form_time_checkbox:checked + label:before, 
.form_time_checkbox:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #10100F;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.form_time_checkbox:checked + label:after, 
.form_time_checkbox:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #636C92;
    border-bottom: 4px solid #636C92;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form_time_checkbox:not(:checked) + label:after {
    opacity: 0;
}

.form_time_checkbox:checked + label:after {
    opacity: 1;
}

.contact-us_form_button {
    grid-area: button;
    max-width: 247px;
}


/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    background: #A6A6A6;
    color: #1D1D1B;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 300;
}

/*burger*/

.header_menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}
  
@media only screen and (min-width: 750px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .header_menu {
        clear: none;
        /*float: right;*/
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
    
@media only screen and (max-width: 750px) {
    .header li a {
        background-color: Silver;
        opacity: 0.9;
    }

    .header ul li {
        border-bottom: 1px solid #000000;
        color: #000;
    }

    .header ul li:first-child {
        border-top: 0px solid #000000;
    }

    .header ul {
        width: 100%;
    }

    .section_home, 
    .section_about,
    .section_group-therapy,
    .section_our-programs,
    .section_our-founder,
    .section_contact-us {
        flex-direction: column;
        padding: 0;
    }

    .section_home {
        width: 100%;
    }

    .section_home::after {  
        display: none; 
        top: -80px;
        left: -100px;
        width: 576px;
        height: 687px;
    }
    
    .section_home::before {
        display: none; 
        bottom: -80px;
        right: 0px;
        width: 415px;
        height: 424px;
    }

    .section_our-programs_wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .section_group-therapy_image {
        width: 286px;
        height: 286px;
        background-size:contain;
    }

    .section_our-founde_img {
        width: 286px;
        height: 286px;
        background-size:contain;
    }

    .section_contact-us_img {
        display: none;
    }

    .contact-us_form {
        width: 100%;
        display: grid;
        grid-column-gap: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(50px, auto));
        grid-template-areas: "title"
                             "name" 
                             "phone"
                             "time"
                             "message"
                             "button";
    }
    
} 


  
  

  
 
  




  


  